@value * as colors from "../../palette.css";
@value fontSans, animDur from "../../index.css";
@value headerHeight from "../../components/header/index.css";

@value dur: 0.2s;
.lyredit {
    position: relative;
    height: calc(100vh - headerHeight);
}

.scroll {
    position: relative;
    height: 100%;

    overflow-y: hidden;
    overflow-x: hidden;

    transform-origin: 0 0;

    transition: height dur, transform dur;

    .bar {
        position: absolute;
        top: 0;
        right: 0;
        width: 0.6em;
        height: 100%;
        z-index: 1;

        transition: height dur, right dur, opacity dur, transform dur;

        &:after {
            content: "";
            position: absolute;
            top: 0.2em;
            right: 0.3em;
            bottom: 0.2em;
            left: 0;

            opacity: 0.3;
            border-radius: 0.15em;
            background: colors.grey;

            transition: opacity dur;
        }

        &:hover:after {
            opacity: 1;
        }
    }
}

.scrollEdit {
    composes: scroll;

    .bar {
        right: 20%;
    }
}

.content {
    position: relative;
    transition: transform dur;
}

.lyrics {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    padding: 0.5em;

    column-gap: 1em;

    transform-origin: 0 0;
    transition: transform dur;

    > * {
        transition: background-color dur;
    }
}

.lyricsEdit {
    composes: lyrics;

    transform: scale(0.8);
}

.crosshair,
.crosshair * {
    cursor: crosshair;
}

.s0Hover {
    > *:hover {
        background-color: colors.color0;
    }
}
.s1Hover {
    > *:hover {
        background-color: colors.color1;
    }
}
.s2Hover {
    > *:hover {
        background-color: colors.color2;
    }
}
.s3Hover {
    > *:hover {
        background-color: colors.color3;
    }
}
.s4Hover {
    > *:hover {
        background-color: colors.color4;
    }
}
.s5Hover {
    > *:hover {
        background-color: colors.color5;
    }
}

.tools {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 20vw;

    box-shadow: -2px 0 1em rgba(0, 0, 0, 0.3);
    border-left: solid 1px #222;

    z-index: 1;

    transform: translateX(100%);
    transition: transform dur;
}

.toolsEdit {
    composes: tools;

    transform: translateX(0);
}
