@value * as colors from "../../palette.css";


.line {
    padding : 0.5em 0.5em;
    margin: 0;
    break-inside: avoid;

    border: solid 1px transparent;
    border-radius: 0.2em;
}

.color {
    color: var(--color);

    &:hover {
        color: var(--color);
    }
}

.s0 {
    --color: colors.color0;
}

.s1 {
    composes: color;

    --color: colors.color1;
}

.s2 {
    composes: color;

    --color: colors.color2;
}

.s3 {
    composes: color;

    --color: colors.color3;
}

.s4 {
    composes: color;

    --color: colors.color4;
}

.s5 {
    composes: color;

    --color: colors.color5;
}

.hover {
    &:hover {
        background: var(--color);
        color: #000;
    }
}
