/*node_modules/minireset.css/minireset.css */
/*! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img,
embed,
iframe,
object,
audio,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}

/*src/palette.css */
/* Monokai */
/*src/index.css */
html {
    font: 300 1em/1.5 Raleway, sans-serif;
    color: #fff;

    background: #2c292d;
}
body {
    overflow: hidden;
}
button,
input,
select,
textarea {
    font: 300 1em/1.5 Raleway, sans-serif;
}
button:focus,
input:focus,
select:focus,
textarea:focus {
    outline: none;
}
button {
    line-height: 1;
    cursor: pointer;
}
a {
    color: #fff;
}
svg {
    display: block;
}
#mount {
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
    overflow: hidden;
}
.mc70832d4a_button {
    padding: 0.3em 0.7em;
    margin: 0 0.2em;

    border: solid 2px transparent;
    border-radius: 0.3em;

    color: #2c292d;

    background: var(--color);
}
.mc70832d4a_title {
    text-align: center;
    font: normal 1.8em/1.2 "Slabo 27px", serif;
    text-transform: uppercase;
}
/*src/tools/tooltip.css */
.mc6dd10fbf_tooltip {
    position: fixed;

    width: 100px;
    height: 20px;
    margin-left: 1em;

    background: var(--color);
    border-radius: 0.2em;

    pointer-events: none;

    opacity: 0;

    transition: opacity 0.2s;
}
.mc6dd10fbf_s0 {
    --color: #ff6188;
}
.mc6dd10fbf_s1 {
    --color: #a9dc76;
}
.mc6dd10fbf_s2 {
    --color: #ffd866;
}
.mc6dd10fbf_s3 {
    --color: #fc9867;
}
.mc6dd10fbf_s4 {
    --color: #ab9df2;
}
.mc6dd10fbf_s5 {
    --color: #78dce8;
}
/*src/header/index.css */
.mcd924ca8c_header {
    position: relative;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;

    background: #fff1;
}
.mcd924ca8c_headerIn {

    transform: translateY(-100%);
    animation: forwards 0.3s mcd924ca8c_slideIn;
}
@keyframes mcd924ca8c_slideIn {
    100% {
        transform: translateY(0);
    }
}
.mcd924ca8c_headerOut {

    position: absolute;
    top: 0;
    width: 100%;

    transform: translateY(0);
    animation: forwards 0.3s mcd924ca8c_slideOut;
}
@keyframes mcd924ca8c_slideOut {
    100% {
        transform: translateY(-100%);
    }
}
.mcd924ca8c_logo {
    position: absolute;
    top: 0;
    left: 1em;
    bottom: 0;

    display: flex;
    align-items: center;
}
.mcd924ca8c_logo a {
        display: block;
        padding-top: 0.2em;
    }
.mcd924ca8c_logo a svg {
            fill: #4571a9;
        }
/*src/home/index.css */
.mc63387611_home {
    padding: 1em 0.5em 0;
}
.mc63387611_logoAndType {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5vh 0 1.3em;
}
.mc63387611_logoAndType svg {
        display: inline-block;
        width: auto;
        height: 5em;
        padding-bottom: 0.2em;

        fill: #4571a9;
    }
.mc63387611_title {

    font-size: 3em;
    font-weight: bold;
    letter-spacing: 0.08em;
}
.mc63387611_subTitle {
    display: block;

    opacity: 0.7;
    text-transform: none;
    letter-spacing: 0;
    font: normal 1em/1 Raleway;
}
.mc63387611_center {
    text-align: center;
}
.mc63387611_dash {
    display: inline-block;
    padding: 0.3em 0.6em;
    margin-bottom: 0.3em;

    border: dashed 2px #fff9;
    border-radius: 0.5em;
}
.mc63387611_textarea {
    display: block;
    width: 30em;
    height: 10em;

    overflow-y: auto;

    text-align: center;
    padding-top: 4em;
    font: normal 0.9em/1.4 monospace;

    border: none;
    color: #fff;
    background: transparent;
}
.mc63387611_textareaFocused {

    text-align: left;
    padding: 0;
}
.mc63387611_btnWrap {
    margin-bottom: 0;
    height: 0;
    opacity: 0;

    animation: forwards 0.3s mc63387611_in;
}
@keyframes mc63387611_in {
    100% {
        opacity: 1;
        height: 2em;
        margin-bottom: 1em;
    }
}
.mc63387611_loadBtn {

    color: #fff !important;
    --color: #4571a9;
}
.mc63387611_list {
    max-width: 30em;
    margin: 1.6em auto 0;

    text-align: left;
}
.mc63387611_list h3 {
        margin-bottom: 0.2em;
        border-bottom: solid 1px #fff5;

        color: #6b97d0;
        font: bold 1.25em/1 Raleway;
    }
.mc63387611_list a {
        display: block;

        font-family: "Slabo 27px";
        text-transform: uppercase;
        text-decoration: none;
        font-size: 1.35em;
    }
.mc63387611_list a:hover {
            text-decoration: underline;
        }
.mc63387611_list a span {
            display: inline-block;
            padding-left: 0.3em;
            opacity: 0.6;
            font-size: 0.8em;
        }
/*src/layout/index.css */
.mc4a8c61ea_github {
    display: block;
    position: fixed;
    right: 1em;
    bottom: 1em;
    height: 2em;
    width: 2em;

    transition: fill 0.3s;
}
.mc4a8c61ea_github:hover {
        fill: #fff9;
    }
/*src/lyrics/edit.css */
.mc68640514_edit {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 30vw;

    background: #fff;
}
.mc68640514_editIn {

    transform: translateX(100%);
    animation: forwards 0.3s mc68640514_in;
}
@keyframes mc68640514_in {
    100% {
        transform: translateX(0);
    }
}
.mc68640514_editOut {

    transform: translateX(0);
    animation: forwards 0.3s mc68640514_out;
}
@keyframes mc68640514_out {
    100% {
        transform: translateX(100%);
    }
}
.mc68640514_textarea {
    width: 100%;
    height: 100%;
    padding: 0.3em 1em;

    font: normal 0.9em/1.4 monospace;
}
/*src/lyrics/index.css */
.mce5e74019_lyredit {
    position: relative;
    height: 95vh;
}
.mce5e74019_lyrics {
    padding: 0.5em;
    column-gap: 1em;
    overflow-y: auto;
    transform-origin: 0 0;

    transition: transform 0.3s;
}
.mce5e74019_lyricsEdit {

    transform: scale(0.7);
}
.mce5e74019_line {
    padding : 0.5em 0.5em;
    margin: 0;
    break-inside: avoid;

    border: solid 1px transparent;
    border-radius: 0.2em;
    color: var(--color);

    cursor: default;
}
.mce5e74019_lineSelected {

    border-color: #ddd5;
}
.mce5e74019_s0 {
    --color: #ff6188;
}
.mce5e74019_s1 {
    --color: #a9dc76;
}
.mce5e74019_s2 {
    --color: #ffd866;
}
.mce5e74019_s3 {
    --color: #fc9867;
}
.mce5e74019_s4 {
    --color: #ab9df2;
}
.mce5e74019_s5 {
    --color: #78dce8;
}
/*src/modal/index.css */
.mc744a0be3_modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    align-items: flex-start;
    justify-content: center;

    background: #222e;
}
.mc744a0be3_modalIn {

    opacity: 0;
    animation: forwards 0.3s mc744a0be3_in;
}
@keyframes mc744a0be3_in {
    100% {
        opacity: 1;
    }
}
.mc744a0be3_modalOut {

    opacity: 1;
    animation: forwards 0.3s mc744a0be3_out;
}
.mc744a0be3_modalOut .mc744a0be3_content {
        animation: forwards 0.3s mc744a0be3_out2;
    }
@keyframes mc744a0be3_out {
    100% {
        opacity: 0;
    }
}
.mc744a0be3_content {
    padding: 1.4em;
    margin-top: 3em;
    min-width: 20vh;

    border-radius: 0.2em;

    color: #2c292d;
    box-shadow: 0 2px 143px 23px #0009;
    background: #eee;
}
.mc744a0be3_contentIn {

    opacity: 0;
    transform: scale(0.5);

    animation: forwards 0.3s mc744a0be3_in2;
}
@keyframes mc744a0be3_in2 {
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
.mc744a0be3_contentOut {

    opacity: 1;
    transform: scale(1);

    animation: forwards 0.6s mc744a0be3_out2;
}
@keyframes mc744a0be3_out2 {
    100% {
        opacity: 0;
        transform: scale(0.5);
    }
}
.mc744a0be3_close {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    padding: 0;

    border: none;

    line-height: 1;
    background: transparent;

    cursor: pointer;
}
/*src/modal/title.css */
.mc0ec499cf_label {
    display: block;
}
.mc0ec499cf_input {
    min-width: 16em;
    padding: 0.2em 0.2em 0.1em 0.4em;

    border-radius: 0.2em;
    border: none;
    box-shadow: 1px 1px 2px #0005 inset;
}
.mc0ec499cf_buttons {
    margin-top: 0.6em;
    text-align: center;
}
.mc0ec499cf_add {

    --color: #4571a9;
    color: #fff;
}
.mc0ec499cf_cancel {
    color: #999;
}
/*src/tools/index.css */
.mc01651421_tools {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding-right: 0.4em;

    display: flex;

    background: #2c292d;

    transition: transform 0.2s;
}
.mc01651421_toolsHide {

    transform: translateX(100%);
}
.mc01651421_setting {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    padding: 0.2em 0 0.2em 0.4em;
}
.mc01651421_show {
    position: absolute;
    top: 0;
    right: 100%;
    bottom: 0;
    padding: 0 0.4em 0 0.6em;

    border: none;
    border-radius: 0.3em;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    background: #4571a9;
}
.mc01651421_show svg {
    display: block;
    height: 100%;
    width: 1em;

    fill: #fff;
}
.mc01651421_label {
    display: block;
    font-size: 0.7em;
    text-transform: uppercase;
}
.mc01651421_control {
    position: relative;
    overflow: visible;
}
.mc01651421_button {

    font-family: monospace;
}
.mc01651421_button:first-child {
    margin-left: 0;
}
.mc01651421_s0 {
    --color: #ff6188;
}
.mc01651421_s1 {
    --color: #a9dc76;
}
.mc01651421_s2 {
    --color: #ffd866;
}
.mc01651421_s3 {
    --color: #fc9867;
}
.mc01651421_s4 {
    --color: #ab9df2;
}
.mc01651421_s5 {
    --color: #78dce8;
}
.mc01651421_selected {
    border-color: var(--color);
    color: var(--color);
    background: transparent;
}
.mc01651421_font {
    font-family: monospace;
}
.mc01651421_range {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6em;

    transition: opacity 0.3s;

    transform: translateX(-50%) rotate(-90deg) translateX(-50%);
}
.mc01651421_rangeHide {

    pointer-events: none;

    opacity: 0;
}
.mc01651421_dec,
.mc01651421_inc {

    padding-right: 0.3em;
    padding-left: 0.3em;

    --color: #fff4;
    opacity: 0.8;
}
.mc01651421_dec:hover,
.mc01651421_inc:hover {
    opacity: 1;
}
.mc01651421_dec {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.mc01651421_inc {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.mc01651421_cols {
    font-family: monospace;
}
.mc01651421_edit {

    color: #fff;
    --color: #4571a9;
}
