/*node_modules/minireset.css/minireset.css */
/*! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img,
embed,
iframe,
object,
audio,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}

/*src/palette.css */
/* Monokai */
/*src/components/tools/tooltip.css */
.mcc875d4e3_tooltip {
    position: fixed;

    width: 100px;
    height: 20px;
    margin-left: 1em;

    background: var(--color);
    border-radius: 0.2em;

    pointer-events: none;

    opacity: 0;

    transition: opacity 0.2s;
}
.mcc875d4e3_s0 {
    --color: #ff6188;
}
.mcc875d4e3_s1 {
    --color: #a9dc76;
}
.mcc875d4e3_s2 {
    --color: #ffd866;
}
.mcc875d4e3_s3 {
    --color: #fc9867;
}
.mcc875d4e3_s4 {
    --color: #ab9df2;
}
.mcc875d4e3_s5 {
    --color: #78dce8;
}
/*src/index.css */
html {
    font: 300 1em/1.5 Raleway, sans-serif;
    color: #fff;

    background: #2c292d;
}
body {
    overflow: hidden;
}
button,
input,
select,
textarea {
    font: 300 1em/1.5 Raleway, sans-serif;
}
button:focus,
input:focus,
select:focus,
textarea:focus {
    outline: none;
}
button {
    line-height: 1;
    cursor: pointer;
}
a {
    color: #fff;
}
svg {
    display: block;
}
#mount {
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
    overflow: hidden;
}
.mc70832d4a_button {
    padding: 0.3em 0.7em;
    margin: 0 0.2em;

    border: solid 2px transparent;
    border-radius: 0.3em;

    color: #2c292d;

    background: var(--color);
}
.mc70832d4a_title {
    text-align: center;
    font: normal 1.8em/1.2 'Slabo 27px', serif;
    text-transform: uppercase;
}
/*src/components/error/index.css */
.mc1fc74cfc_error {
    margin: 1em 0;
    text-align: center;
}
.mc1fc74cfc_error h1 {
        margin: 0 0 1em;

        font: normal 1.8em/1.2 'Slabo 27px', serif;
    }
/*src/components/header/index.css */
.mc23bfb80c_header {
    position: relative;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;

    background: #fff1;
}
.mc23bfb80c_headerIn {

    transform: translateY(-100%);
    animation: forwards 0.3s mc23bfb80c_slideIn;
}
@keyframes mc23bfb80c_slideIn {
    100% {
        transform: translateY(0);
    }
}
.mc23bfb80c_headerOut {

    position: absolute;
    top: 0;
    width: 100%;

    transform: translateY(0);
    animation: forwards 0.3s mc23bfb80c_slideOut;
}
@keyframes mc23bfb80c_slideOut {
    100% {
        transform: translateY(-100%);
    }
}
.mc23bfb80c_logo {
    position: absolute;
    top: 0;
    left: 1em;
    bottom: 0;

    display: flex;
    align-items: center;
}
.mc23bfb80c_logo a {
        display: block;
        padding-top: 0.2em;
    }
.mc23bfb80c_logo a svg {
            fill: #4571a9;
        }
/*src/components/home/index.css */
.mc9f90d7fb_home {
    padding: 1em 0.5em 0;
}
.mc9f90d7fb_logoAndType {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5vh 0 1.3em;
}
.mc9f90d7fb_logoAndType svg {
        display: inline-block;
        width: auto;
        height: 5em;
        padding-bottom: 0.2em;

        fill: #4571a9;
    }
.mc9f90d7fb_title {

    font-size: 3em;
    font-weight: bold;
    letter-spacing: 0.08em;
}
.mc9f90d7fb_subTitle {
    display: block;

    opacity: 0.7;
    text-transform: none;
    letter-spacing: 0;
    font: normal 1em/1 Raleway, sans-serif;
}
.mc9f90d7fb_center {
    text-align: center;
}
.mc9f90d7fb_dash {
    display: inline-block;
    padding: 0.3em 0.6em;
    margin-bottom: 0.3em;

    border: dashed 2px #fff9;
    border-radius: 0.5em;
}
.mc9f90d7fb_textarea {
    display: block;
    width: 30em;
    height: 10em;

    overflow-y: auto;

    text-align: center;
    padding-top: 4em;
    font: normal 0.9em/1.4 monospace;

    border: none;
    color: #fff;
    background: transparent;
}
.mc9f90d7fb_textareaFocused {

    text-align: left;
    padding: 0;
}
.mc9f90d7fb_btnWrap {
    margin-bottom: 0;
    height: 0;
    opacity: 0;

    animation: forwards 0.3s mc9f90d7fb_in;
}
@keyframes mc9f90d7fb_in {
    100% {
        opacity: 1;
        height: 2em;
        margin-bottom: 1em;
    }
}
.mc9f90d7fb_loadBtn {

    color: #fff !important;
    --color: #4571a9;
}
/*src/components/home/list.css */
.mcb48e5add_list {
    max-width: 30em;
    margin: 1.6em auto 0;

    text-align: left;
}
.mcb48e5add_list h3 {
        margin-bottom: 0.2em;
        padding-bottom: 0.3em;
        border-bottom: solid 1px #fff5;

        color: #6b97d0;
        font: bold 1.15em/1 Raleway, sans-serif;
    }
.mcb48e5add_list a {
        display: block;

        font-family: 'Slabo 27px', serif;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 1.25em;
        line-height: 1.25;
    }
.mcb48e5add_list a:hover {
            text-decoration: underline;
        }
.mcb48e5add_list a span {
            display: inline-block;
            padding-left: 0.3em;
            opacity: 0.6;
            font-size: 0.8em;
        }
/*src/components/layout/index.css */
.mc55d93723_bug {
    position: fixed;
    right: 1em;
    bottom: 1em;
}
.mc55d93723_github {
    display: block;
    height: 2em;
    width: 2em;
    margin: 0 auto 0.2em;

    transition: fill 0.3s;
}
.mc55d93723_github:hover {
        fill: #fff9;
    }
.mc55d93723_ver {
    opacity: 0.3;

    font: normal 0.8em/1 monospace;
}
.mc55d93723_clear {
    position: fixed;
    bottom: 1em;
    left: 1em;
}
.mc55d93723_debug {
    position: fixed;
    top: 0;
    opacity: 0.2;
    max-height: 100vh;
    width: 400px;
    overflow-y: auto;
    font-size: 0.75em;
    z-index: -1;
    pointer-events: none;
}
/*src/components/lyrics/edit.css */
.mc7d4b81c4_edit {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 30vw;

    background: #fff;
}
.mc7d4b81c4_editIn {

    transform: translateX(100%);
    animation: forwards 0.3s mc7d4b81c4_in;
}
@keyframes mc7d4b81c4_in {
    100% {
        transform: translateX(0);
    }
}
.mc7d4b81c4_editOut {

    transform: translateX(0);
    animation: forwards 0.3s mc7d4b81c4_out;
}
@keyframes mc7d4b81c4_out {
    100% {
        transform: translateX(100%);
    }
}
.mc7d4b81c4_textarea {
    width: 100%;
    height: 100%;
    padding: 0.3em 1em;

    font: normal 0.9em/1.4 monospace;
}
/*src/components/lyrics/index.css */
.mc9673f5d0_lyredit {
    position: relative;
    height: 95vh;
    overflow-y: auto;
}
.mc9673f5d0_lyrics {
    padding: 0.5em;
    column-gap: 1em;
    transform-origin: 0 0;

    transition: transform 0.3s;
}
.mc9673f5d0_lyricsEdit {

    transform: scale(0.7);
}
.mc9673f5d0_line {
    padding : 0.5em 0.5em;
    margin: 0;
    break-inside: avoid;

    border: solid 1px transparent;
    border-radius: 0.2em;
    color: var(--color);

    cursor: default;
}
.mc9673f5d0_lineSelected {

    border-color: #ddd5;
}
.mc9673f5d0_s0 {
    --color: #ff6188;
}
.mc9673f5d0_s1 {
    --color: #a9dc76;
}
.mc9673f5d0_s2 {
    --color: #ffd866;
}
.mc9673f5d0_s3 {
    --color: #fc9867;
}
.mc9673f5d0_s4 {
    --color: #ab9df2;
}
.mc9673f5d0_s5 {
    --color: #78dce8;
}
/*src/components/modal/index.css */
.mcb0630254_modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    align-items: flex-start;
    justify-content: center;
    z-index: 1;

    background: #222e;
}
.mcb0630254_modalIn {

    opacity: 0;
    animation: forwards 0.3s mcb0630254_in;
}
@keyframes mcb0630254_in {
    100% {
        opacity: 1;
    }
}
.mcb0630254_modalOut {

    opacity: 1;
    animation: forwards 0.3s mcb0630254_out;
}
.mcb0630254_modalOut .mcb0630254_content {
        animation: forwards 0.3s mcb0630254_out2;
    }
@keyframes mcb0630254_out {
    100% {
        opacity: 0;
    }
}
.mcb0630254_content {
    padding: 1.4em;
    margin-top: 3em;
    min-width: 20vh;

    border-radius: 0.2em;

    color: #2c292d;
    box-shadow: 0 2px 143px 23px #0009;
    background: #eee;
}
.mcb0630254_contentIn {

    opacity: 0;
    transform: scale(0.5);

    animation: forwards 0.3s mcb0630254_in2;
}
@keyframes mcb0630254_in2 {
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
.mcb0630254_contentOut {

    opacity: 1;
    transform: scale(1);

    animation: forwards 0.6s mcb0630254_out2;
}
@keyframes mcb0630254_out2 {
    100% {
        opacity: 0;
        transform: scale(0.5);
    }
}
.mcb0630254_close {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    padding: 0;

    border: none;

    line-height: 1;
    background: transparent;

    cursor: pointer;
}
/*src/components/modal/title.css */
.mc04421772_label {
    display: block;
}
.mc04421772_input {
    min-width: 16em;
    padding: 0.2em 0.2em 0.1em 0.4em;

    border-radius: 0.2em;
    border: none;
    box-shadow: 1px 1px 2px #0005 inset;
}
.mc04421772_buttons {
    margin-top: 0.6em;
    text-align: center;
}
.mc04421772_add {

    --color: #4571a9;
    color: #fff;
}
.mc04421772_cancel {
    color: #999;
}
/*src/components/tools/index.css */
.mce8163484_tools {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding-right: 0.4em;

    display: flex;

    background: #2c292d;

    transition: transform 0.2s;
}
.mce8163484_toolsHide {

    transform: translateX(100%);
}
.mce8163484_setting {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    padding: 0.2em 0 0.2em 0.4em;
}
.mce8163484_show {
    position: absolute;
    top: 0;
    right: 100%;
    bottom: 0;
    padding: 0 0.4em 0 0.6em;

    border: none;
    border-radius: 0.3em;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    background: #4571a9;
}
.mce8163484_show svg {
    display: block;
    height: 100%;
    width: 1em;

    fill: #fff;
}
.mce8163484_label {
    display: block;
    font-size: 0.7em;
    text-transform: uppercase;
}
.mce8163484_control {
    position: relative;
    overflow: visible;
}
.mce8163484_button {

    font-family: monospace;
}
.mce8163484_button:first-child {
    margin-left: 0;
}
.mce8163484_s0 {
    --color: #ff6188;
}
.mce8163484_s1 {
    --color: #a9dc76;
}
.mce8163484_s2 {
    --color: #ffd866;
}
.mce8163484_s3 {
    --color: #fc9867;
}
.mce8163484_s4 {
    --color: #ab9df2;
}
.mce8163484_s5 {
    --color: #78dce8;
}
.mce8163484_selected {
    border-color: var(--color);
    color: var(--color);
    background: transparent;
}
.mce8163484_font {
    font-family: monospace;
}
.mce8163484_range {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6em;

    transition: opacity 0.3s;

    transform: translateX(-50%) rotate(-90deg) translateX(-50%);
}
.mce8163484_rangeHide {

    pointer-events: none;

    opacity: 0;
}
.mce8163484_dec,
.mce8163484_inc {

    padding-right: 0.3em;
    padding-left: 0.3em;

    --color: #fff4;
    opacity: 0.8;
}
.mce8163484_dec:hover,
.mce8163484_inc:hover {
    opacity: 1;
}
.mce8163484_dec {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.mce8163484_inc {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.mce8163484_cols {
    font-family: monospace;
}
.mce8163484_edit {

    color: #fff;
    --color: #4571a9;
}
