@value * as colors from "../palette.css";
@value bgColor: colors.bg;

.header {
    position: relative;
    padding: 0.8em 0;
    background: #fff1;
    overflow-x: hidden;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
}

.title {
    text-align: center;
}
