@value * as colors from "../palette.css";

.header {
    position: relative;
    padding: 0.4em 0;
    background: colors.header;
    overflow-x: hidden;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
}

.title {
    text-align: center;
    font: normal 1.8em/1.2 "Slabo 27px", serif;
    text-transform: uppercase;
}
