@value * as colors from "../palette.css";
@value dur: 0.3s;

.header {
    position: relative;
    padding: 0.4em 0;

    background: colors.header;
}

.headerIn {
    composes: header;

    transform: translateY(-100%);
    animation: forwards dur slideIn;
}

@keyframes slideIn {
    100% {
        transform: translateY(0);
    }
}

.headerOut {
    composes: header;

    position: absolute;
    top: 0;
    width: 100%;

    transform: translateY(0);
    animation: forwards dur slideOut;
}

@keyframes slideOut {
    100% {
        transform: translateY(-100%);
    }
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
}

.title {
    composes: title from "../index.css";
}
