@value * as colors from "../../palette.css";

.tabs {

}

.buttons {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-bottom: 0.6em;

    border-bottom: solid 1px colors.border;

}

.tab {
    display: block;
    padding: 0.2em 0.4em;
    border: none;
    color: colors.cta;
    background: none;

    &:hover:not(.tabSelected) {
        color: colors.ctaLight;
        background: colors.buttonHover;

        svg {
            fill: colors.ctaLight;
        }
    }

    &:first-child {
        border-right: solid 1px colors.border;
    }

    &:last-child {
        border-left: solid 1px colors.border;
    }

    svg {
        height: 1em;
        width: 1em;
        margin: 0 0.2em -0.15em 0;
        fill: colors.cta;

        display: inline-block;
        opacity: 0.7;
    }
}

.tabSelected {
    composes: tab;

    color: colors.ctaLight;
    cursor: default;

    svg {
        fill: colors.ctaLight;
    }
}
