@value * as colors from "../palette.css";

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    align-items: flex-start;
    justify-content: center;

    background: #6666;
}

.modalIn {
    composes: modal;

    opacity: 0;
    animation: forwards 0.3s in;
}

@keyframes in {
    100% {
        opacity: 1;
    }
}

.modalOut {
    composes: modal;

    opacity: 1;
    animation: forwards 0.3s out;

    .content {
        animation: forwards 0.6s out2;
    }
}

@keyframes out {
    100% {
        opacity: 0;
    }
}

.content {
    padding: 0.3em 1em;
    margin-top: 3em;
    min-width: 20vh;

    border-radius: 1em;

    color: colors.bg;
    background: #fff;

    opacity: 0;
    transform: scale(0.5);

    animation: forwards 0.6s in2;
}

@keyframes in2 {
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes out2 {
    100% {
        opacity: 0;
        transform: scale(0.5);
    }
}

.close {
    cursor: pointer;
}