@value side: 0.8em;

.error {
    position: absolute;
    right: side;
    bottom: 1em;
    /* width: 8em; */

    text-align: right;
    font-size: 0.75em;
    line-height: 1;
    letter-spacing: 0.05em;

    color: #f44c;

    pointer-events: none;
}

.errorLeft {
    composes: error;

    right: auto;
    left: 0;
    bottom: 0;

    text-align: left;
}

.errorBottom {
    composes: error;

    right: auto;
    left: 0;

    text-align: left;
}

.errorIn {
    composes: error;

    animation: forwards slideIn 0.3s;
}

.errorInLeft {
    composes: errorLeft;

    animation: forwards slideInLeft 0.3s;
}

.errorInBottom {
    composes: errorBottom;

    animation: forwards slideInBottom 0.3s;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(20%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInLeft {
    0% {
        opacity: 0;
        transform: translateX(-20%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInBottom {
    0% {
        opacity: 0;
        transform: translateY(-20%);
    }
    100% {
        opacity: 2;
        transform: translateY(0);
    }
}

.errorOut {
    composes: error;

    animation: forwards slideOut 0.3s;
}

.errorOutLeft {
    composes: errorLeft;

    animation: forwards slideOutLeft 0.3s;
}

.errorOutBottom {
    composes: errorBottom;

    animation: forwards slideOutBottom 0.3s;
}

@keyframes slideOut {
    100% {
        opacity: 0;
        transform: translateX(20%);
    }
}

@keyframes slideOutLeft {
    100% {
        opacity: 0;
        transform: translateX(-20%);
    }
}

@keyframes slideOutBottom {
    100% {
        opacity: 0;
        transform: translateY(-20%);
    }
}
