.error {
    position: absolute;
    right: 0.8em;
    bottom: 1em;
    width: 8em;

    text-align: right;
    font-size: 0.6em;
    line-height: 1;
    letter-spacing: 0.05em;

    color: #f44a;
}

.errorIn {
    composes: error;

    animation: forwards slideIn 0.3s;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(20%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.errorOut {
    composes: error;

    animation: forwards slideOut 0.3s;
}

@keyframes slideOut {
    100% {
        transform: translateX(20%);
        opacity: 0;
    }
}
