@value * as colors from "../../../palette.css";
@value animDur, fontDisplay from "../../../index.css";

.tools {
    width: 100%;

    font-family: fontDisplay;

    background: colors.bg;

    transition: transform 0.2s;
}

.pipe {
    border-bottom: solid 2px #222;
}

/* header button */
.show {
    display: flex;
    align-items: center;
    width: 105%;
    margin-left: -0.2em;

    color: #fff;
    text-align: center;

    border: none;
    border-radius: 0.3em;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    background: colors.cta;

    transition: transform 0.2s, opacity 0.3s, background 0.2s;

    svg {
        display: block;
        width: 1em;

        fill: #fff;

        transition: transform 0.2s;
    }

    div {
        margin-left: 0.6em;
        padding-top: 0.1em;

        text-transform: uppercase;
    }
}

.showEdit {
    composes: show;

    opacity: 0.6;
    background: transparent;

    svg {
        transform: translateX(-2.1em);
    }
}

.label {
    display: block;
    margin-top: 1em;
    padding: 0.5em 0.4em 0.4em;
    text-transform: uppercase;
}

.control {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    overflow: visible;
    justify-content: space-between;
    align-items: center;
}

.button {
    height: 4vh;

    font-family: monospace;

    opacity: 0.8;

    &:hover {
        color: #fff;
        opacity: 1;
    }
}

.columns {
    composes: control;

    background: #0004;
}

.colsLabel {
    composes: label;

    margin: 0;
    padding: 0;
}

.colCount {
    composes: button;

    width: 4vh;
}
