.container {
    /* visual balance with logo *
    /* need a little more than just logo height due to the gap */
    margin-bottom: 6em;
}

.logo {
    height: 5em;
}

.providerCard {
    width: 100%;
    max-width: 400px;
}

.providerButton,
.loginButton {
    width: 100%;
    gap: 1em;
}

.hr {
    margin: 1em 0;
    color: var(--gray-11);
}

.emailInput {
    width: 100%;
}
