@value * as colors from "../../../palette.css";


.line {
    padding : 0.5em 0.5em;
    margin: 0;
    break-inside: avoid;

    border: solid 1px transparent;
    border-radius: 0.2em;
}

.color {
    color: var(--color);

    &:hover {
        color: var(--color);
    }
}

.s0 {
    composes: color;

    --color: colors.color0;
}

.s1 {
    composes: color;

    --color: colors.color1;
}

.s2 {
    composes: color;

    --color: colors.color2;
}

.s3 {
    composes: color;

    --color: colors.color3;
}

.s4 {
    composes: color;

    --color: colors.color4;
}

.s5 {
    composes: color;

    --color: colors.color5;
}

.hover {
    &:hover {
        background: var(--color);
        color: #000;
    }
}

.s0Hover {
    composes: hover;

    &:hover {
        --color: colors.color0;
    }

    &.s0:hover {
        color: var(--color);
        background: transparent;

        border: solid 1px var(--color);
    }
}

.s1Hover {
    composes: hover;

    &:hover {
        --color: colors.color1;
    }

    &.s1:hover {
        color: var(--color);
        background: transparent;

        border: solid 1px var(--color);
    }
}

.s2Hover {
    composes: hover;

    &:hover {
        --color: colors.color2;
    }

    &.s2:hover {
        color: var(--color);
        background: transparent;

        border: solid 1px var(--color);
    }
}

.s3Hover {
    composes: hover;

    &:hover {
        --color: colors.color3;
    }

    &.s3:hover {
        color: var(--color);
        background: transparent;

        border: solid 1px var(--color);
    }
}

.s4Hover {
    composes: hover;

    &:hover {
        --color: colors.color4;
    }

    &.s4:hover {
        color: var(--color);
        background: transparent;

        border: solid 1px var(--color);
    }
}

.s5Hover {
    composes: hover;

    &:hover {
        --color: colors.color5;
    }

    &.s5:hover {
        color: var(--color);
        background: transparent;

        border: solid 1px var(--color);
    }
}
