.cards {
    width: 100%;
}

.card {
    width: 33.3%;
    position: relative;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 12em;
}

.title {
    margin: 0;
    position: relative;
    z-index: 1;
    font-size: 1.4rem;
    line-height: 1;
}

.artist {
    margin: 0;
    position: relative;
    z-index: 1;
    font-size: 1.2rem;
}

.lyrics {
    position: absolute;
    top: -1.4em;
    right: -2em;
    bottom: -1em;
    left: -1em;
    font-size: 2em;
    line-height: 1;
    font-weight: bold;

    mask-image: linear-gradient(to bottom, #fff3, #ffffff06 4em);

    span {
        display: inline-block;
        z-index: 0;

        animation: scrollLyrics 60s ease-out infinite;
    }
}

@keyframes scrollLyrics {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}
