.wrapper {
}



.table {
  width: 100%;
  margin-top: 1rem;

  table {
  }

  thead {
    border-top-left-radius: 10px  !important;
    border-top-right-radius: 10px !important;
    background-color: #0003;
  }
}

.songLink {
  color: white;
  font-weight: bold;
}

.publicSwitch {
  line-height: 1;
}

.displayTypeToggle {
  svg {
    height: 1.4em;
  }

  :global(.rt-SegmentedControlItemLabel) {
    padding: var(--space-1) var(--space-2);
  }
}

.newSong {
  margin: 1em 0;

  animation: fadeId 500ms;
}

@keyframes fadeId {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
