.card {
  display: grid;
  grid-template-rows: auto 1fr auto;
  padding: 0;
  background: #2224;
}

.cardHeader {
  padding: var(--space-3);
  background: #0003;
  text-decoration: none;
  color: inherit;

  > * {
    transition: transform 200ms;
  }

  &:hover {
    background: #0006;
    > * {
      transform: translateX(0.3em);
    }
  }
}

.cardField {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-3);
  padding: var(--space-2) var(--space-3);
}

.cardLabel {
  color: var(--gray-11);
  font-size: var(--font-size-1);
}
