@value * as colors from "../../palette.css";
@value fontSans, fontSerif, fontDisplay, animDur from "../../index.css";

.home {
    padding: 1em 0.5em 0;
}

.logoAndType {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5vh 0 1.3em;

    svg {
        display: inline-block;
        width: auto;
        height: 6.5em;
        padding: 0 0.2em 0.8em 0;

        fill: colors.cta;
    }
}

.appName {
    composes: title from "../../index.css";

    font-size: 4em;
}

.tagline {
    display: block;

    color: colors.grey;
    text-transform: none;
    font: normal 1.33em/1 fontDisplay;
}

.center {
    width: 23em;
    margin: 0 auto;

    text-align: center;
}

.input {
    margin: 0 0.6em;
    padding: 0.4em;

    border-bottom: solid 1px #fff2;

    input {
        padding: 0;
        margin: 0;
        width: 100%;

        color: #fff;
        border: none;
        background: transparent;
    }

}

.inputFocused {
    background: #fff1;
}

.title {
    composes: input;
}

.titleFocused {
    composes: title;
    composes: inputFocused;
}

.artist {
    composes: input;
}

.artistFocused {
    composes: artist;
    composes: inputFocused;
}

.dash {
    padding: 0.3em 0.6em;
    margin-bottom: 0.3em;

    border: dashed 2px #fff9;
    border-radius: 0.5em;
}

.textarea {
    display: block;
    width: 100%;
    height: 10em;

    overflow-y: auto;

    text-align: center;
    padding-top: 4em;
    font: normal 0.9em/1.4 monospace;

    border: none;
    color: #fff;
    background: transparent;
}

.textareaFocused {
    composes: textarea;

    text-align: left;
    padding: 0;
}

.btnWrap {
    margin-bottom: 0;
    height: 0;
    opacity: 0;

    animation: forwards animDur in;
}

@keyframes in {
    100% {
        opacity: 1;
        height: 2em;
        margin-bottom: 1em;
    }
}

.loadBtn {
    composes: button from "../../index.css";

    color: #fff !important;
    --color: colors.cta;
}
