@value * as colors from "../../palette.css";
@value fontSans, fontSerif, fontDisplay, animDur from "../../index.css";

.list {
    text-align: left;
    position: relative;

    animation: listIn 0.3s;

    li {
        &.deleted {
            text-decoration-line: line-through;
            opacity: 0.5;
        }

        button {
            position: relative;
            top: -0.15em;
            margin-left: 1em;
            padding: 0.2em;
            /* width: 1.3em;
            height: 1.3em; */

            opacity: 0;

            font-size: 0.8em;
            color: #fff;
            background: transparent;
            border: solid 2px #fff6;
            border-radius: 50%;

            transition: opacity animDur, background-color animDur;

            &:hover {
                background: red;
            }
        }

        &:hover button {
            opacity: 1;
        }
    }

    a {
        font-family: fontDisplay;
        text-decoration: none;
        font-size: 1.25em;

        color: colors.grey;

        &:hover strong {
            text-decoration: underline;
        }

        strong {
            padding-right: 0.2em;

            color: #fff;
            font-size: 1.1em;
            font-family: fontSerif;
            font-weight: normal;
            text-transform: uppercase;
        }
    }
}

@keyframes listIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.songOut {
    composes: fadeOut from "../../fade.css";

    button {
        display: none;
    }
}
