@value * as colors from "../../palette.css";
@value animDur from "../../index.css";

.songForm {
    display: flex;
    flex-direction: column;
    width: 23em;
    margin: 0 auto;

    text-align: center;
}

.label {
    input {
        width: 100%;

        color: #fff;
        background: transparent;
    }
}

.labelFocused {
    background: #fff1;
}

.title {
    composes: label;
}

.titleFocused {
    composes: title;
    composes: labelFocused;
}

.artist {
    composes: label;
}

.artistFocused {
    composes: artist;
    composes: labelFocused;
}

.dash {
    position: relative;
    padding: 0.3em 0.6em;
    margin: 0.8em 0 0.3em;

    border: dashed 2px #fff9;
    border-radius: 0.3em;
}

.textarea {
    display: block;
    width: 100%;
    height: 14em;

    overflow-y: auto;

    text-align: center;
    padding-top: 4em;
    font: normal 0.9em/1.4 monospace;

    border: none;
    color: #fff;
    background: transparent;

    &:focus {
        outline: none;
    }
}

.textareaFocused {
    composes: textarea;

    text-align: left;
    padding: 0;
}

.btnWrap {
    margin-bottom: 0;
    height: 0;
    opacity: 0;

    animation: forwards animDur in;
}

@keyframes in {
    100% {
        opacity: 1;
        height: 2em;
        margin-bottom: 1em;
    }
}

.loadBtn {
    composes: button from "../../index.css";

    color: #fff !important;
    --color: colors.cta;
}
