.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    grid-template-areas: "left center right";

    padding: 0.4em 4% 0.3em;

    background: linear-gradient(90deg, #1a1a1aee 0%, #121212ff 100%);

    @media screen and (width <= 768px) {
        grid-template-columns: max-content auto max-content;
    }
}

.left,
.center,
.right {
    display: flex;
    align-items: center;
}

.left {
    justify-self: start;
    grid-area: left;
}
.center {
    justify-self: center;
    grid-area: center;

    @media screen and (width <= 768px) {
        justify-self: flex-start;
    }
}
.right {
    justify-self: end;
    grid-area: right;
}

.logo {
    color: inherit;
    margin: 0;
}

.logoLink {
    display: flex;
    align-items: baseline;
    color: inherit;
    text-decoration: none;
    opacity: 0.8;

    transition: opacity 0.2s ease-in-out;

    svg {
        top: 0.05em;
        position: relative;
        height: 2rem;
        width: auto;
        margin-right: 0.3rem;
    }

    &:hover {
        opacity: 1;
    }
}

.hidable {
    @media (width <= 768px) {
        display: none;
    }
}


.userNavLink {
    opacity: 0.7;

    transition: opacity 0.2s ease-in-out;

    &:hover {
        opacity: 1;
    }
}

.mainNav {
    margin: 0.3em 0 0 0.5em;

    @media screen and (width <= 768px) {
        display: none;
    }

    a {
        text-decoration: none;
        color: white;
        line-height: 1;
    }
}

.title {
    line-height: 1.2;
    white-space: nowrap;

    @media screen and (width <= 768px) {
        padding-left: 0.8em;
        font-size: 0.8em;
    }

    h1 {
        margin: 0;
        font-size: 1.2em;
        font-weight: normal;
    }
    h2 {
        margin: 0;
        font-size: 0.9em;
        font-weight: normal;
        opacity: 0.7;
    }
}

