
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 4%;

    background: linear-gradient(90deg, #1a1a1aee 0%, #121212ff 100%);
}

.logo {
    color: inherit;
}

.logoLink {
    display: flex;
    align-items: baseline;
    color: inherit;

    svg {
        height: 2rem;
        width: auto;
        margin-right: 0.3rem;
    }
}