.container {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
}


.loadingBar {
    --color-bar: #52b84b7c;
    --color-bg: #ffffff31;

    --c: no-repeat linear-gradient(var(--color-bar) 0 0);

    height: 4px;
    width: 100%;


    background: var(--c),var(--c), var(--color-bg);
    background-size: 60% 100%;

    animation: l16 3s infinite;
}
@keyframes l16 {
    0%   { background-position:-150% 0, -150% 0 }
    66%  { background-position: 250% 0, -150% 0 }
    100% { background-position: 250% 0,  250% 0 }
}