.userMenu {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.avatarButton {
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.dropdown {
    position: absolute;

    /* match --avatar-size */
    top: calc(var(--space-6) + 0.5em);
    right: 0;
    width: 250px;
    z-index: 1;
}

.userCard {
    margin-bottom: 0.8em;
}


.username {
    margin: 0;

    font-size: 0.9em;
    font-weight: 600;
}

.email {
    margin: 0;

    font-size: 0.8em;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tierActions {
    display: flex;
    align-items: center;
    gap: 0.6em;
    margin-top: 0.3em;
}


.newSong {
    margin: 1.2em 0 0.4em;
}
