@value * as colors from "../palette.css";
@value fontFamily from "../index.css";

.home {
    padding: 1em 0.5em 0;

    text-align: center;
}

.dash {
    display: inline-block;
    padding: 0.3em 0.6em;
    margin-bottom: 0.3em;

    border: dashed 2px #fff9;
    border-radius: 1em;
}

.textarea {
    display: block;
    width: 30em;
    height: 10em;

    overflow-y: auto;

    text-align: center;
    padding-top: 4em;
    font: normal 0.9em/1.4 monospace;

    border: none;
    color: #fff;
    background: transparent;
}

.textareaFocused {
    composes: textarea;

    text-align: left;
    padding: 0;
}

.btnWrap {
    margin-bottom: 0;
    height: 0;
    opacity: 0;

    animation: forwards 0.4s in;
}

@keyframes in {
    100% {
        opacity: 1;
        height: 2em;
        margin-bottom: 1em;
    }
}

.loadBtn {
    composes: button from "../index.css";

    color: #fff;
    --color: colors.cta;
}

.list {
    max-width: 30em;
    margin: 1.6em auto 0;

    text-align: left;

    h3 {
        margin-bottom: 0.2em;
        border-bottom: solid 1px #fff5;

        color: colors.cta;
        font: bold 2em/1 fontFamily;
    }
    a {
        display: block;

        font-family: "Slabo 27px";
        text-transform: uppercase;
        text-decoration: none;
        font-size: 1.25em;

        &:hover {
            text-decoration: underline;
        }
    }
}

.title {
    composes: title from "../index.css";

    margin: 1em 0 0.4em;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 0.08em;
}
