@value * as colors from "../palette.css";

.home {
    max-width: 500px;
    padding: 0.5em;
    margin: 0 auto;
}

.load {
    composes: button from "../index.css";

    color: #fff;
    --color: colors.cta;
}

.textarea {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
}

.loadText {
    position: absolute;
    top: 0;
    right: 0;
}
