@value * as colors from "../../palette.css";
@value animDur, fontDisplay from "../../index.css";

.tools {
    width: 100%;

    font-family: fontDisplay;

    background: colors.bg;

    transition: transform 0.2s;
    box-shadow: -2px 0 1em rgba(0, 0, 0, 0.3);
    border-left: solid 1px #222;
}

.pipe {
    border-bottom: solid 2px #222;
}

/* header button */
.show {
    display: flex;
    align-items: center;
    width: 105%;
    margin-left: -0.3em;

    color: #fff;
    text-align: center;

    border: none;
    border-radius: 0.3em;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    background: colors.cta;

    transition: transform 0.2s, opacity 0.3s;

    svg {
        display: block;
        width: 1em;

        fill: #fff;
    }

    div {
        margin-left: 0.6em;
        padding-top: 0.1em;

        text-transform: uppercase;
    }
}

.showEdit {
    composes: show;

    opacity: 0.6;
    transform: translateX(-1.5em);
    transition-delay: 0.12s;
}

.label {
    display: block;
    padding: 0.5em 0.4em 0.4em;
    text-transform: uppercase;
}

.control {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    overflow: visible;
    justify-content: space-between;
}

.button {
    flex: 0 0 33.333%;
    height: 4vh;

    font-family: monospace;

    color: var(--color);
    background: var(--color);

    opacity: 0.8;

    &:hover {
        color: #fff;
    }
}

.button:first-child {
    margin-left: 0;
}

.s0,
.s1,
.s2,
.s3,
.s4,
.s5 {
    composes: button;
}

.s0 {
    --color: colors.color0;
}
.s1 {
    --color: colors.color1;
}
.s2 {
    --color: colors.color2;
}
.s3 {
    --color: colors.color3;
}
.s4 {
    --color: colors.color4;
}
.s5 {
    --color: colors.color5;
}

.selected {
    border-color: var(--color);
    color: var(--color);
    background: transparent;
}

.s0Selected {
    composes: s0, selected;
}

.s1Selected {
    composes: s1, selected;
}

.s2Selected {
    composes: s2, selected;
}

.s3Selected {
    composes: s3, selected;
}

.s4Selected {
    composes: s4, selected;
}

.s5Selected {
    composes: s5, selected;
}

.font {
    font-family: monospace;
}

.fontSize {
    height: 4vh;
    width: 4vh;
}

.dec,
.inc {
    composes: button;

    padding-right: 0.3em;
    padding-left: 0.3em;

    --color: #fff4;
    opacity: 0.8;
}

.dec:hover,
.inc:hover {
    opacity: 1;
}

.dec {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.inc {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.cols {
    font-family: monospace;
}

.edit {
    composes: button;

    color: #fff;
    --color: colors.cta;
}
