@value * as colors from "../../palette.css";
@value animDur from "../../index.css";

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    align-items: flex-start;
    justify-content: center;
    z-index: 1;

    background: colors.modalBg;
}

.modalIn {
    composes: modal;

    opacity: 0;
    animation: forwards animDur in;
}

@keyframes in {
    100% {
        opacity: 1;
    }
}

.modalOut {
    composes: modal;

    opacity: 1;
    animation: forwards animDur out;

    .content {
        animation: forwards animDur out2;
    }
}

@keyframes out {
    100% {
        opacity: 0;
    }
}

.content {
    padding: 2em;
    margin-top: 3em;
    min-width: 20vh;

    border-radius: 0.2em;

    color: colors.bg;
    box-shadow: 0 2px 143px 23px #0009;
    background: colors.modal;

    a {
        color: colors.cta;
    }
}

.contentIn {
    composes: content;

    opacity: 0;
    transform: scale(0.5);

    animation: forwards animDur in2;
}

@keyframes in2 {
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.contentOut {
    composes: content;

    opacity: 1;
    transform: scale(1);

    animation: forwards 0.6s out2;
}

@keyframes out2 {
    100% {
        opacity: 0;
        transform: scale(0.5);
    }
}

.close {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    padding: 0;

    border: none;

    line-height: 1;
    background: transparent;

    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.3s;

    &:hover {
        opacity: 1;
    }
}