@value * as colors from "../../palette.css";

.login {
    display: flex;
    align-content: center;
    flex-direction: column;

    p {
        margin-bottom: 0.4em;
    }
}

.stepBase {
    position: relative;
}

.step {
    composes: stepBase;
}

.stepHidden {
    composes: stepBase;
}

.loading {
    padding-bottom: 1em;
}

.signedIn {
    display: flex;
    align-items: center;

    font-size: 0.8em;
    opacity: 0.5;

    svg {
        height: 1em;
        margin-right: 0.4em;
    }
}

.twitter svg {
    fill: colors.twitter;
}
.github svg {
    fill: colors.github;
}
.facebook svg {
    fill: colors.facebook;
}

.logout {
    font-size: 0.8em;

    button {
        padding: 0;
        margin: 0;

        color: colors.cta;
        background: transparent;
    }
}

.providers {
    display: flex;
    margin-top: 1em;
    position: relative;

    button {
        margin-right: 1em;

        &:last-child {
            margin-right: 0;
        }
    }
}
