@value fontDisplay from "../../index.css";

@value * as colors from "../../palette.css";

.login {
    display: flex;
    align-content: center;
    flex-direction: column;

    p {
        margin-bottom: 0.4em;
    }
}

.stepBase {
    position: relative;
}

.step {
    composes: stepBase;
}

.stepHidden {
    composes: stepBase;
}

.loading {
    padding-bottom: 1em;
}

.signedIn {
    display: flex;
    align-items: center;

    font-size: 0.8em;
    opacity: 0.5;

    svg {
        height: 1em;
        margin-right: 0.4em;
    }
}

.twitter svg {
    fill: colors.twitter;
}
.github svg {
    fill: colors.github;
}
.facebook svg {
    fill: colors.facebook;
}

.username {
    composes: username from "../../index.css";
}

.logout {
    font-size: 0.8em;

    button {
        padding: 0;
        margin: 0;

        color: colors.cta;
        background: transparent;
    }
}

.providers {
    display: flex;
    margin-top: 1em;
    position: relative;

    button {
        margin-right: 1em;

        &:last-child {
            margin-right: 0;
        }
    }
}

.loggedIn {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 1em 0;

    svg {
        width: 5.8em;
        height: auto;
        margin-bottom: 1em;

        circle {
            transform: rotate(-90deg);
            transform-origin: 50% 50%;

            fill: transparent;
            stroke-width: 2px;
        }

        :global(.stroke) {
            stroke: #328656;
            stroke-dasharray: 500;
            stroke-dashoffset: 500;

            animation: 1s ease-in 500ms forwards dash;
        }

        :global(.strokeBg) {
            stroke: #bbb;
            fill: #fff;
        }

        :global(.bg) {
            fill: #bbb;
        }

        :global(.fill) {
            opacity: 0;
            stroke: green;
            stroke-width: 1px;
            fill: #88b98b;

            animation: 200ms ease-in 800ms forwards fadeIn;
        }

        :global
    }

    p {
        margin: 0;
        text-align: center;
        line-height: 1.4;
    }
}

@keyframes dash {
    from {
        stroke-dashoffset: 500;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
