@value * as colors from "../../palette.css";

.login {
    display: flex;
    align-content: center;
    flex-direction: column;
}

.step {
    display: flex;
    opacity: 0.2;
    pointer-events: none;
}

.stepActive {
    display: flex;
    align-items: flex-start;
    opacity: 1;

    .number:after {
        opacity: 0.9;
    }
}

.step1,
.step2 {
    composes: step;
}

.step1Active,
.step2Active {
    composes: stepActive;
}

.providers {
    display: flex;
    flex-direction: row;
}

.number {
    position: relative;
    margin: 0 0.65em 0 -0.4em;
    vertical-align: baseline;

    opacity: 0.6;

    line-height: 1;
    font-size: 1.8em;

    &:after {
        position: absolute;
        content: "";
        top: 100%;
        left: 0;
        width: 100%;
        height: 2px;

        background: colors.bg;
        opacity: 0;

        transition: opacity 0.3s;
    }
}
