@value * as colors from "../../palette.css";

.label {
    display: block;
}

.input {
    min-width: 16em;
    padding: 0.2em 0.2em 0.1em 0.4em;

    border-radius: 0.2em;
    border: none;
    box-shadow: 1px 1px 2px #0005 inset;
}

.buttons {
    margin-top: 0.6em;
    text-align: center;
}

.add {
    composes: button from "../../index.css";

    --color: colors.cta;
    color: #fff;
}

.cancel {
    composes: button from "../../index.css";
    color: #999;
}