.editSong {
    --color-0: var(--yellow-7);
    --color-0-0: var(--yellow-12);
    --color-0-1: var(--yellow-8);

    --color-1: var(--red-7);
    --color-1-0: var(--red-12);
    --color-1-1: var(--red-8);

    --color-2: var(--pink-7);
    --color-2-0: var(--pink-12);
    --color-2-1: var(--pink-8);

    --color-3: var(--purple-7);
    --color-3-0: var(--purple-12);
    --color-3-1: var(--purple-8);

    --color-4: var(--blue-7);
    --color-4-0: var(--blue-12);
    --color-4-1: var(--blue-8);

    --color-5: var(--cyan-7);
    --color-5-0: var(--cyan-12);
    --color-5-1: var(--cyan-8);
}

.lyrics {
    margin-top: 1em;
}

.lyricCard {
    margin: 0 0 1em;
    white-space: pre-wrap;
}



.style-0 {
    background-color: var(--color-0);
}
.style-1 {
    background-color: var(--color-1);
}
.style-2 {
    background-color: var(--color-2);
}
.style-3 {
    background-color: var(--color-3);
}
.style-4 {
    background-color: var(--color-4);
}
.style-5 {
    background-color: var(--color-5);
}
