.toolbar {
    background: var(--gray-4);

    padding: var(--space-2);

    /* round bottom radius */

    border-bottom-left-radius: var(--radius-2);
    border-bottom-right-radius: var(--radius-2);
}

.colorTools {
    --space-4: 1em;
    --segmented-control-indicator-background-color: #fffb;

    :global(.rt-SegmentedControlIndicator) {

        z-index: 1;
        mix-blend-mode: overlay;
        &:before {
        }

    }
}

.colorButton {
    &[data-color] {
        color: #fffd;
    }
    &[data-color="0"] {
        background-color: var(--color-0-bg);
    }
    &[data-color="1"] {
        background-color: var(--color-1-bg);
    }
    &[data-color="2"] {
        background-color: var(--color-2-bg);
    }
    &[data-color="3"] {
        background-color: var(--color-3-bg);
    }
    &[data-color="4"] {
        background-color: var(--color-4-bg);
    }
    &[data-color="5"] {
        background-color: var(--color-5-bg);
    }

    /* &[data-state="on"] {
        box-shadow: inset 0 0 8px 1px var(--color-shadow);
    } */
}
