@value * as colors from "../../palette.css";

.userSongs {
    max-width: 30em;
    margin: 0 auto;

    padding-top: 2em;
}

.h2 {
    margin-bottom: 0.3em;
    font-size: 2em;
    text-align: center;
    border-bottom: solid 1px colors.border;
}

.list {
    position: relative;
}
