@value * as colors from "../../palette.css";
@value fontSans, fontSerif from "../../index.css";

.list {
    max-width: 30em;
    margin: 1.6em auto 0;

    text-align: left;

    h3 {
        margin-bottom: 0.2em;
        border-bottom: solid 1px #fff5;

        color: colors.ctaLight;
        font: bold 1.25em/1 fontSans;
    }

    a {
        display: block;

        font-family: fontSerif;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 1.35em;

        &:hover {
            text-decoration: underline;
        }

        span {
            display: inline-block;
            padding-left: 0.3em;
            opacity: 0.6;
            font-size: 0.8em;
        }
    }
}
