@value * as colors from "../../palette.css";
@value fontSerif, animDur from "../../index.css";

.header {
    position: relative;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;

    background: colors.header;
}

.headerIn {
    composes: header;

    transform: translateY(-100%);
    animation: forwards animDur slideIn;
}

@keyframes slideIn {
    100% {
        transform: translateY(0);
    }
}

.headerOut {
    composes: header;

    position: absolute;
    top: 0;
    width: 100%;

    overflow:  hidden;

    transform: translateY(0);
    animation: forwards animDur slideOut;
}

@keyframes slideOut {
    100% {
        transform: translateY(-100%);
    }
}

.logo {
    position: absolute;
    top: 0;
    left: 1em;
    bottom: 0;

    display: flex;
    align-items: center;

    a {
        display: flex;
        align-items: center;
        text-decoration: none;

        svg {
            fill: colors.cta;
            width: auto;
            height: 4vh;
        }

        div {
            margin: 0.4em 0 0 0.4em;

            font: normal 1.2em/1 fontSerif;
            text-transform: uppercase;
        }
    }
}

.title {
    padding-top: 0.05em;
    font: normal 1.9em/1 fontSerif;
    text-transform: uppercase;
}
