@value * as colors from "../../../../palette.css";

.colors {
    display: flex;
    flex-wrap: wrap;
}

.color {
    composes: button from "../index.css";

    flex: 0 0 33.333%;

    color: var(--color);
    background: var(--color);

    opacity: 0.8;

    &:hover {
        color: #fff;
        opacity: 1;
    }
}

.s0 {
    composes: color;

    --color: colors.color0;
}
.s1 {
    composes: color;

    --color: colors.color1;
}
.s2 {
    composes: color;

    --color: colors.color2;
}
.s3 {
    composes: color;

    --color: colors.color3;
}
.s4 {
    composes: color;

    --color: colors.color4;
}
.s5 {
    composes: color;

    --color: colors.color5;
}

.selected {
    border-color: var(--color);
    color: #fff;
}

.unselected {
    border-color: var(--color);
    opacity: 0.3 !important; /* composition css order */
}
