.container {
  --border-color: var(--gray-5);
  --border: 1px solid var(--border-color);

  display: flex;
  gap: 1.5rem;

  width: 100%;
  margin: 0 auto;

  border-top: var(--border);
}

.rail {
  width: 16rem;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;

  margin-top: 1.5rem;
}

.profileCard {
  margin-bottom: 1.5rem;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.navLink,
.navLinkActive {
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;

  font-size: 0.875rem;
  font-weight: 500;
  color: inherit;
  text-decoration: none;

  transition: background-color 0.15s ease;

  &:hover {
    background-color: var(--border-color);
  }
}

.navLinkActive {
  background-color: var(--border-color);
}

.separator {
  height: auto;
  flex: 0 0 auto;
  align-self: stretch;
  min-height: 100%;
  background: var(--border-color);
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}
.pageTitle {
  margin-top: 0;
}
