@value * as colors from "../../palette.css";

.login {
    composes: loginRegion from "../layout/index.css";

    background: none;
    border: none;
    color: colors.ctaLight;

    &:focus,
    &:hover {
        background: colors.buttonHover;
    }
}
