@value twitter: #1da1f2;
@value facebook: #4267b2;
@value github: #222;

.button {
    display: flex;
    align-items: center;

    padding: 0.4em 0.8em;

    border: none;
    border-radius: 0.2em;

    color: #fff;

    svg {
        width: 1.6em;
    }

    span {
        padding-left: 0.6em;
        overflow: hidden;
        max-width: 20em;
    }
}

.icon {
    padding: 0;
    margin: 0.1em 0.3em 0 0;

    background: transparent !important;

    span  {
        max-width: 0;
        padding-left: 0;

        transition: max-width 0.3s;
    }

    &.twitter svg {
        fill: twitter;
    }
    &.github svg {
        fill: github;
    }
    &.facebook svg {
        fill: facebook;
    }
}

.twitter {
    composes: button;

    background: twitter;
}

.facebook {
    composes: button;

    background: facebook;
}

.github {
    composes: button;

    background: github;
    box-shadow: 0 0 1px #fff8;
}
