@value twitter: #1da1f2;
@value facebook: #4267b2;
@value github: #222;

.button {
    display: flex;
    align-items: center;

    padding: 0.4em 0.8em;
    margin-bottom: 1em;

    border: none;
    border-radius: 0.2em;

    color: #fff;

    svg {
        width: 1.6em;
        margin-right: 0.6em;
    }
}

.twitter {
    composes: button;

    background: twitter;
}

.facebook {
    composes: button;

    background: facebook;
}

.github {
    composes: button;

    background: github;
}
