@value * as colors from "../../palette.css";

.button {
    display: flex;
    align-items: center;

    padding: 0.6em;

    border: none;
    border-radius: 0.2em;

    color: #fff;

    svg {
        width: 1.6em;
        fill: #fff;
    }

    span {
        padding: 0 0.2em 0 0.6em;
        overflow: hidden;
        max-width: 20em;
    }
}

.icon {
    padding: 0;
    margin: 0.1em 0.3em 0 0;

    background: transparent !important;

    span  {
        max-width: 0;
        padding-left: 0;

        transition: max-width 0.3s;
    }

    &.twitter svg {
        fill: colors.twitter;
    }
    &.github svg {
        fill: colors.github;
    }
    &.facebook svg {
        fill: colors.facebook;
    }
}

.twitter {
    composes: button;

    background: colors.twitter;
}

.facebook {
    composes: button;

    background: colors.facebook;
}

.github {
    composes: button;

    background: colors.github;
    box-shadow: 0 0 1px #fff8;
}

.otherProvider {
    display: none;
}
