@value * as colors from "../../palette.css";

.username {
    display: flex;
    /* for error position */
    position: relative;
    cursor: inherit;
}

.usernameErrors {
    composes: username;

    padding-bottom: 2em;
}

.form {
    input {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        margin-left: -0.2em;
    }
}

.formDisabled {
    composes: form;

    cursor: wait;

    input,
    button {
        cursor: wait;
    }
}

.button {
    composes: button from "../../index.css";

    margin-right: 0 !important;

    color: #fff !important;
    --color: colors.cta;

    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    svg {
        fill: #fff;
        height: 1em;
    }

    &:disabled {
        opacity: 0.5;
    }
}