@value * as colors from "../../palette.css";

.user {
    position: absolute;
    right: 0.8em;
    margin: 0 0.5em 0 0;

    > button {
        display: block;
        position: relative;
        height: 2.2em;
        width: 2.2em;
        padding: 0;

        background: none;

        &:focus {
            outline: none;
        }

        &:hover {
            &:after {
                opacity: 1;
            }
        }

        &:after {
            content: "";
            position: absolute;
            top: -0.2em;
            left: 100%;
            margin: 50% 0 0 0.4em;
            height: 0;
            width: 0;

            border: solid transparent 0.3em;
            border-top-color: colors.grey;

            opacity: 0.5;

            transition: opacity 0.2s;
        }

        img {
            border-radius: 50%;
            object-fit: cover;
        }

        &.hideChev {
            &:after {
                opacity: 0;
            }
        }
    }
}

.userIn {
    composes: user;

    animation: 0.3s linear forwards fadeIn;
}

.userOut {
    composes: user;

    animation: 0.3s linear forwards fadeOut;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.panel {
    position: absolute;
    top: 5vh;
    right: 0.8em;
    max-height: 0;
    overflow: hidden;

    transition: max-height 200ms, transform 150ms;

    > div {
        position: relative;
        padding: 0.6em 1em;
        margin-top: 0.8em;

        border-radius: 0.2em;
        background: colors.loggedInPanel;

        &:before {
            position: absolute;
            content: "";
            bottom: 100%;
            right: 1.2em;
            height: 0;
            width: 0;

            border: solid transparent 0.6em;
            border-bottom-color: colors.loggedInPanel;
        }
    }

    hr {
        margin: 0.6em -1em;
    }

    a {
        display: block;
        color: colors.ctaLight;
    }
}

.signedIn {
    white-space: nowrap;
}

.username {
    padding-left: 0.1em;
    font-weight: bold;
}

.logout {
    composes: a from "../../index.css";

    padding: 0;

    background: none;
    border: none;
    color: colors.ctaLight;
}
