@value * as colors from "./palette.css";

@value fontFamily: Raleway;

html {
    font: 300 1em/1.5 Raleway, sans-serif;
    color: #fff;

    background: colors.bg;
}

body {
    overflow: hidden;
}

button,
input,
select,
textarea {
    font: 300 1em/1.5 Raleway, sans-serif;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
    outline: none;
}

button {
    line-height: 1;
    cursor: pointer;
}

a {
    color: #fff;
}

:global(#mount) {
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
    overflow: hidden;
}

.button {
    padding: 0.3em 0.7em;
    margin: 0 0.2em;

    border: solid 2px transparent;
    border-radius: 0.3em;

    color: colors.bg;

    background: var(--color);
}

.title {
    text-align: center;
    font: normal 1.8em/1.2 "Slabo 27px", serif;
    text-transform: uppercase;
}
