<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
</head>
<body>

    <div id="mount"></div>

    <script>
        (function(l) {
            var q = {};

            if(!l.search) {
                return;
            }

            l.search.slice(1).split('&').forEach(function(v) {
                var a = v.split('=');

                q[a[0]] = a.slice(1).join('=').replace(/~and~/g, '&');
            });

            if(q.p === undefined) {
                return;
            }

            window.history.replaceState(null, null,
                l.pathname.slice(0, -1) + (q.p || '') +
                (q.q ? ('?' + q.q) : '') +
                l.hash
            );
        }(window.location))

        const ver = <%= JSON.stringify(htmlWebpackPlugin.options.ver) %>;
    </script>

</body>
</html>
