@value * as colors from "./palette.css";

@value fontSans: Lato, sans-serif;
@value fontDisplay: Raleway, sans-serif;
@value fontSerif: Bitter, serif;
@value animDur: 0.3s;

html {
    font: normal 1em/1.5 fontSans;
    color: #fff;

    background: colors.bg;
}

body {
}

button,
input,
select,
textarea {
    font: 300 1em/1.5 fontDisplay;

    border: solid 0 transparent;
}

input {
    position: relative;
    padding: 1.5em 0 0.4em 0.9em;

    font: 300 1em/1.5 fontDisplay;

    border: solid 0 transparent;
    border-radius: 0.3em 0.3em 0 0;
    border-bottom-width: 2px;
    border-bottom-color: colors.placeholderBorder;
    background: #bbb6;

    &:focus {
        outline: none;
        border-bottom-color: colors.cta;
    }
}

label {
    :global(.placeholder) {
        position: absolute;
        top: 1em;
        left: 0.7em;

        line-height: 1.4;
        color: colors.placeholder;
        transition: transform 0.3s;
        transform-origin: 0 0;
        pointer-events: none;
    }

    input:focus,
    input:global(.focus) {
        + :global(.placeholder) {
            color: colors.cta;
            transform: scale(0.7) translateY(-0.8em);
        }
    }
}

button {
    cursor: pointer;

    transition: transform 0.3s;

    &:focus {
        /* outline: none; */
    }

}

a,
.a {
    text-decoration: none;
    font: inherit;

    &:hover {
        text-decoration: underline;
    }
}

svg {
    display: block;
}

hr {
    margin: 1.4em 0;
    border: solid 1px #ccc6;
    border-width: 1px 0 0 0;
}

:global(#mount) {
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
    overflow: hidden;
}

.button {
    padding: 0.3em 0.7em;

    border: solid 2px transparent;
    border-radius: 0.3em;

    color: colors.bg;

    background: var(--color);

    &:focus {
        outline: none;
        transform: translateY(-0.1em);
        box-shadow: 1px 2px 4px 0 #4449;
    }
}

.title {
    font: normal 1.9em/1 fontSerif;
    text-transform: uppercase;

    &:first-letter {
        letter-spacing: -0.1em;
    }
}

.username {
    font-weight: bold;
    font-family: fontDisplay;
    color: colors.cta;
}
