@value * as colors from "./palette.css";

html {
    font: 300 1em/1.5 Raleway, sans-serif;
    color: #fff;

    background: colors.bg;
}

button,
input,
select,
textarea {
    font: 300 1em/1.5 Raleway, sans-serif;
}

button {
    line-height: 1;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
    outline: none;
}

button {
    cursor: pointer;
}

:global(#mount) {
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
    overflow: hidden;
}
