@value * as colors from "./palette.css";

@value fontSans: Lato, sans-serif;
@value fontDisplay: Raleway, sans-serif;
@value fontSerif: Bitter, serif;
@value animDur: 0.3s;

html {
    font: normal 1em/1.5 fontSans;
    color: #fff;

    background: colors.bg;
}

body {
}

button,
input,
select,
textarea {
    font: 300 1em/1.5 fontDisplay;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
    outline: none;
}

button {
    line-height: 1;
    cursor: pointer;
}

a {
    color: #fff;
}

svg {
    display: block;
}

:global(#mount) {
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
    overflow: hidden;
}

.button {
    padding: 0.3em 0.7em;
    margin: 0 0.2em;

    border: solid 2px transparent;
    border-radius: 0.3em;

    color: colors.bg;

    background: var(--color);
}

.title {
    font: normal 1.9em/1 fontSerif;
    text-transform: uppercase;

    &:first-letter {
        letter-spacing: -0.1em;
    }
}
