/* Monokai */
@value bg: #2c292d;
@value header: #fff1;
@value cta: #4571a9;


@value color0: #ff6188;
@value color1: #a9dc76;
@value color2: #ffd866;
@value color3: #fc9867;
@value color4: #ab9df2;
@value color5: #78dce8;
