@value * as colors from "../palette.css";

.tools {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding-right: 0.4em;

    display: flex;

    background: colors.bg;

    transition: transform 0.2s;
}

.toolsHide {
    composes: tools;

    transform: translateX(100%);
}

.setting {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    padding: 0.2em 0 0.2em 0.4em;
}

.show {
    position: absolute;
    top: 0;
    right: 100%;
    bottom: 0;
    padding: 0 0.4em 0 0.6em;

    border: none;
    border-radius: 0.3em;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    background: colors.cta;
}

.show svg {
    display: block;
    height: 100%;
    width: 1em;

    fill: #fff;
}

.label {
    display: block;
    font-size: 0.7em;
    text-transform: uppercase;
}

.control {
    position: relative;
    overflow: visible;
}

.button {
    composes: button from "../index.css";

    font-family: monospace;
}

.button:first-child {
    margin-left: 0;
}

.s0,
.s1,
.s2,
.s3,
.s4,
.s5 {
    composes: button;
}

.s0 {
    --color: colors.color0;
}
.s1 {
    --color: colors.color1;
}
.s2 {
    --color: colors.color2;
}
.s3 {
    --color: colors.color3;
}
.s4 {
    --color: colors.color4;
}
.s5 {
    --color: colors.color5;
}

.selected {
    border-color: var(--color);
    color: var(--color);
    background: transparent;
}

.s0Selected {
    composes: s0, selected;
}

.s1Selected {
    composes: s1, selected;
}

.s2Selected {
    composes: s2, selected;
}

.s3Selected {
    composes: s3, selected;
}

.s4Selected {
    composes: s4, selected;
}

.s5Selected {
    composes: s5, selected;
}

.font {
    font-family: monospace;
}

.range {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6em;

    transition: opacity 0.4s;

    transform: translateX(-50%) rotate(-90deg) translateX(-50%);
}

.rangeHide {
    composes: range;

    opacity: 0;
}

.dec,
.inc {
    composes: button;

    padding-right: 0.3em;
    padding-left: 0.3em;

    --color: #fff4;
    opacity: 0.8;
}

.dec:hover,
.inc:hover {
    opacity: 1;
}

.dec {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.inc {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.cols {
    font-family: monospace;
}

.edit {
    composes: button;

    color: #fff;
    --color: colors.cta;
}
