@value * as colors from "../palette.css";


.tooltip {
    position: fixed;

    width: 100px;
    height: 20px;
    margin-left: 1em;

    background: var(--color);
    border-radius: 0.2em;

    pointer-events: none;

    opacity: 0;

    transition: opacity 0.2s;
}


.s0,
.s1,
.s2,
.s3,
.s4,
.s5 {
    composes: tooltip;
}

.s0 {
    --color: colors.color0;
}
.s1 {
    --color: colors.color1;
}
.s2 {
    --color: colors.color2;
}
.s3 {
    --color: colors.color3;
}
.s4 {
    --color: colors.color4;
}
.s5 {
    --color: colors.color5;
}
